/* Global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .2em;
    margin: 1em 2em;
}

.header-title p {
    letter-spacing: normal;
    font-size: 1rem;
}

.score-panel {
    display: flex;
    justify-content: center;
}

.reset {
    text-align: center;
}

/* Add background image to the body and remove colour */

body {
    background-color: #01474f;
    color: #7bc9a2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*----------------------------------  
Deck of Cards
------------------------------------*/

/* Mobile first responsiveness */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}

section {
    background: linear-gradient(to bottom, #af588b, #d99aad);
    border-radius: 1.7em;
    display: grid;
    height: 30em;
    width: 30em;
    margin-top: 2em;
    padding: 0.7em;
    grid-template-columns: repeat(4, 7rem);
    grid-template-rows: repeat(4, 7rem);
    justify-items: center;
    grid-gap: .2rem;
    perspective: 800px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    height: 6em;
    width: 6em;
    margin-top: ;
}

.face,
.back {
    width: 100%;
    height: 100%;
    border-radius: .5em;
    position: absolute;

}

.back {
    background: #01474f;
    backface-visibility: hidden;

}

.toggleCard {
    transform: rotateY(180deg);
}


/* footer */

footer {
    height: 2em;
}

.footer-text {
    margin: 1em 0;
    font-family: 'Courier New', Courier, monospace;
    
}
